.col-md-3 {
    background-color: #25274d;
    min-height: 100%;
}
img {
    width: 80%;
    height: 80%;
    margin-left: 25px;
}
.col-md-3 .details {
    color: white;
}
.col-md-9 .work-page {
    padding: 1em;   
}
.col-md-9 .upload-btn {
    background-color: #2e9cca;
    color: #2964ba;
    float: left;
}.col-md-9 .upload-option {
    float: left;
    height:30px;
    line-height:30px;
}
